body {
    font-family: sans-serif;
    margin: 0;
    color: white;
}

header {
    display: flex;
    min-height: 70px;
    background: linear-gradient(to right, #000000, #2f0a3b);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: auto;
}

.logo {
    display: flex;
    align-items: center;
    color: white;
    margin-left: 40px;
}

.logo img {
    height: 80px;
    margin-right: 15px;
    border-radius: 15px;
    box-shadow: 0 0 5px 1px rgba(128, 0, 128, 0.5);
}

nav {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

nav a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    padding-right: 35px;
    font-size: 18px;
}

.container {
    display: flex;
    background-color: #141414;
    padding: 10px;
    flex-direction: column;
}

.container div {
    background-color: rgb(40, 44, 47);
    box-shadow: 0 0 5px 1px rgba(192, 31, 192, 0.153);
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
}

.bio {
    display: flex;
    flex-flow: row wrap;
    color: white;
    justify-content: space-between;
    align-items: flex-start;
}

.bio img {
    width: 25%;
    border-radius: 10px;
    margin-right: 15px;
    margin-left: 15px;
}

.bio p {
    flex: 1;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.contactos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contactos h2 {
    color: #c85fce;
}

.contactos a {
    text-decoration: none;
    color: #e2d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactos a:hover {
    color: #680d7d;
}

.icon-small {
    width: 45px;
    height: auto;
    margin-right: 10px;
    transition: transform 0.3s;
    margin-left: 10px;
}

.icon-small:hover {
    transform: scale(1.2);
}

#hab {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

#hab h2 {
    margin-bottom: 10px;
}

.contenido {
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
}

.contenido ul {
    color: rgb(217, 115, 225);
    font-weight: 600;
    list-style: none;
    font-size: 20px;
    margin-right: 20px;
}

.contenido img {
    width: 500px;
    border-radius: 10px;
}

@media (max-width: 700px) {
    header {
        flex-direction: column;
    } 

    nav {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        line-height: 32px;
        margin-left: 55px;
    }

    .bio {
        flex-direction: column;
        align-items: center;
    }

    .bio img {
        width: 50%;
        border-radius: 10px;
    }

    .bio p {
        text-align: justify;
        font-size: 15px;
    } 
    .contenido{
        align-items: center;
        justify-content: center; 
    } 
    .contenido ul{
        font-size: 15px;
    }
    .contenido img {
        width: 200px;
        border-radius: 5px;
    }
}