body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #d3d3d3;
    color: #fefefe;
    background-image: url('/img/fon2.jpg');
    background-size: cover;
    background-position: center; 
    background-attachment: fixed; /* Fondo fijo */
}

.container {
    width: 80%;
    margin: 50px auto;
    text-align: center;
    background-color: #070707c8;  
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} 
.container2 {
    width: 80%;
    margin: 50px auto;
    text-align: center;
    background-color: #07070789;  
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(178, 15, 137, 0.644);
} 
.heading {
    margin-top: 30px;
    color: #670983;
    font-size: 2em;
}

.sub-heading {
    color: #b9b2b7fb;
    font-size: 1.5em;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: #8a2be2;
    transition: color 0.3s;
}

a:hover {
    text-decoration: none;
    color: #aa117c;
    font-size: 1.3em;
}

.main-text {
    margin-top: 20px;
    color: #817474;
    font-size: 2em;
}

@media screen and (max-width: 768px) {
    .heading {
        font-size: 1.5em;
    }

    .sub-heading {
        font-size: 1.2em;
    }

    .main-text {
        font-size: 0.9em;
    }

    a {
        font-size: 0.9em;
    }

    a:hover {
        font-size: 1em;
    }
    
    .container{
        width: 80%;
    }
    body{
        background-position: right center;
    }

}
